@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-poppins);
}

h1 {
  font-family: var(--font-syne);
}

button {
  font-weight: 600; /* semibold */
}

.highlighted {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
